<h1> im about test1 </h1>

<%= link_to image_tag('logo.png'), 'www.mashrurhossain.com' %>
 
<%= link_to 'Home', home_path %> ca


ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCv+bLCyOdZiNMPSOsHWCRWxoa45Q5p77ARW0WqnhZ95xltUHA+QdOjkNsKmNHkuwgGqDdi2bFqs6Pu/8Z2tXMqIE1sOhPBr7HuVPgD4rG587zkIRIQsyx2M76oG0H0qX873Q+AyqXpNkqHFZjN0QDP2VwjqgPmeKGd5FmdVkaNvVC0JyieQOxDUWGx8BphmHR708B9jIPSmUX0e0bjmbPcq0CPzSvCVPFc/GgKuj8537nVe6r6zRiXeZMXdkdi/map0MVTO5/W3VMjpDb4zRihuKwWtuwzN60hWqx23Ga5W3md+uVafOwSF5u9v53VD+zBy8ye7HGhR5M3a5II+KIH+Hjiri4iR8QjQgRqjQox2JRroR7gJBDMPpIIyAEBG0x9Y8mQKdPqTV3Ev19SzlkGz1PR46eNoDW+kofinTGDq3kq+SfRh9dLozMPDJutIrqnGK0oHp9Oz/UIRizWA6OyAC3X+sSMS9oNJLXOVPWzlpEXUkn124K8k9e5ESMANv4Z7us1NhjpnNTT5anH9HP8+5cH4Da4ZXLrXjKUv2Ws7vby7+6LS2IBdVTrvdmghWvNVUfk+5Hn+Hn+hYfnPJA5j0xVWMp+chIYSSdMyoL3WgkXo2NF5xh50d5FElN6FXx3vYud30YBXvLSafClTH3Xe9lFW6ohJKwVECAElHItvQ== ac2wu@edu.uwaterloo.ca